@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #0398d9;
  --color-secondary: #f59e0b;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-darkgray: #101010;
  --color-shadowgray: #161616;

  font-family: "Lato", sans-serif;
  line-height: 1.2;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100%;
  font-size: 100%;
  overflow-x: hidden;
}